body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

nav img {
    margin-top: 2rem;
    height: 20vh;
    width: 20vh; 
    margin-left: 50%;
    transform: translateX(-50%);
}

#searchBox {
    margin-top: 5vh;
    width: 50vw;
    height: 4vh;
    margin-left: 50%;
    background-color: #000;
    transform: translateX(-50%);
    border: none;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 
        1px 1px 5px #111,
        -1px -1px 5px #292929;
}

.grid-container {
    top: 8vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    margin: 0;
    padding: 0;
}
.grid-item {
    width: 100%;
    padding-top: 100%;
    border: none;
    box-shadow: 
        1px 1px 5px #111,
        -1px -1px 5px #292929;
    background-color: #000000;
}

.grid-item:hover {
    width: 100%;
    padding-top: 100%;
    border: none;
    box-shadow: 
        1px 1px 5px #111,
        -1px -1px 5px #292929;
    background-color: #101010;
}

